.data-table-word-break {
  white-space: normal;
  word-break: break-all;
}

.v-datatable td,
.v-datatable th {
  padding: 0 8px !important;
}
.app {
  font-family: 'Poppins', sans-serif !important;
}

.v-data-table-header {
  background-color: rgba(229, 234, 244, 0.25);
}

.v-select__selection,
td.text-start,
.v-pagination__item {
  color: rgba(0, 0, 0, 0.38) !important;
}

.v-pagination__item--active {
  color: white !important;
}

.v-card__title {
  word-break: break-word !important;
}
